@font-face {
  font-family: 'Revalia';
  src: url('./../fonts/Revalia-Regular.ttf') format('truetype');
  /* Add more formats if necessary */
  font-weight: normal;
  font-style: normal;
}

$navbar-background-color: rgba(255, 255, 255, 0.85);
$navbar-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
$letter-spacing-value: 0.4em;
$navbar-letter-spacing: 0.3em;

.navbar {
  background-color: $navbar-background-color;
  box-shadow: $navbar-box-shadow;
  box-sizing: border-box;
  padding-left: 0.5rem; /* Adjusted padding */
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  img {
    max-width: 20%; /* Adjusted max-width */
    max-height: 20%; /* Adjusted max-height */
    height: auto;
  }

  .logo {
    padding-left: 2rem; /* Adjusted padding */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.625rem; /* Converted from 10px */
    width: 11rem; /* Adjusted width */

    h1 {
      font-size: 1.5rem;
      font-family: 'Revalia';
      letter-spacing: $letter-spacing-value;
      font-weight: 100;
    }
  }

  .page-items {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 7.5rem; /* Converted from 120px */
    letter-spacing: $navbar-letter-spacing;
    font-size: 0.8rem;
    font-weight: 500;
  }

  .mobile-details {
    display: none;
  }
}

@media (max-width: 48rem) {
  .navbar {
    padding: 0.4rem 1rem; /* Adjusted padding */

    img {
      max-width: 22%; /* Adjusted max-width */
      max-height: 50%; /* Adjusted max-height */
      height: auto;
    }

    .logo {
      padding-left: 0.2rem; /* Adjusted padding */
      width: 9rem; /* Adjusted width */

      h1 {
        font-size: 1.5rem;
      }
    }

    .page-items {
      display: none;
    }

    .mobile-details {
      display: block;
      width: 1.2rem;
      font-weight: 700;
    }
  }
}
