@font-face {
    font-family: "Revalia";
    src: url("./fonts/Revalia-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

$base-font-size: 16px;
$letter-spacing-value: 0.4em;
$desc-letter-spacing: 0.3em;

.home-page {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6));
}

.section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    max-height: 100vh;

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 6rem;
    }

    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.625rem;
        margin-bottom: 3.125rem;

        img {
            max-width: 10rem;
        }

        .text {
            color: white;
            font-size: 5rem;
            font-family: Revalia;
            font-weight: 100;
            letter-spacing: $letter-spacing-value;
            margin-left: 0.1rem;
        }
    }

    .subtitle {
        background-color: #6a45ff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.3rem;
        margin-bottom: 0.5rem;
        width: 100%;

        p {
            color: white;
            font-size: 1.5rem;
            letter-spacing: $desc-letter-spacing;
            font-weight: 400;
            margin: 0 1rem 0 1rem;
        }
    }

    .description {
        display: flex;
        text-align: center;
        max-width: 70%;
        /* Adjusted max-width for description */
        margin-bottom: 5rem;
        /* Adjusted margin to move the description closer to the subtitle */

        p {
            color: white;
            max-width: 100%;
            /* Adjusted max-width for paragraph */
            font-size: 1.3rem;
            letter-spacing: $letter-spacing-value;
        }
    }

    .invite-scroll {
        position: absolute;
        top: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        p {
            color: white;
            letter-spacing: $desc-letter-spacing;
        }
    }

    .indicator {
        border-left: 0.09rem solid white;
        height: 6rem;
    }
}

.services {
    top: 100%;
    width: 100%;
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 15rem;

    .heading {
        z-index: 2;
        margin-top: 5rem;
        color: white;
        text-align: center;
        padding-top: 7rem;
        padding-bottom: 2rem;

        h1 {
            font-weight: 500;
            letter-spacing: $letter-spacing-value;
            font-size: 2.5rem;
            margin-bottom: 0rem;
        }

        p {
            font-weight: 500;
            letter-spacing: $desc-letter-spacing;
            font-size: 1.5rem;
        }
    }

    .path-bar {
        width: 17.5rem;
        position: absolute;
        height: 100%;
        background-color: #6a45ff;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    .details {
        color: rgba(0, 0, 0, 1);
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 2;
        width: 100%;

        .first {
            background-image: url("../public/images/carousel1.png");
        }

        .second {
            background-image: url("../public/images/carousel2.png");
        }

        .third {
            background-image: url("../public/images/carousel3.png");
        }

        .image-example {
            position: relative;
            /* Position relative to enable absolute positioning within */
            background-size: cover;
            width: 100%;
            height: 25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 2rem;
            overflow: hidden;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.35);
                /* Adjust opacity here */
                z-index: 0;
            }
        }

        .text-example {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            color: white;
            max-width: 70%;
            z-index: 1;

            h3 {
                font-weight: 500;
                letter-spacing: $desc-letter-spacing;
                font-size: 2rem;
            }

            .web-enum {
                letter-spacing: $desc-letter-spacing;
                font-size: 0.9rem;
                font-weight: 500;
            }

            p {
                font-size: 0.8rem;
                font-weight: 300;
                letter-spacing: 0.1rem;
            }
        }
    }
}

.see-more {
    top: 200vh;
    width: 100%;
    position: absolute;
    max-height: 300vh;
    background-color: #dce1e6;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    padding-top: 10rem;
    bottom: 50rem;

    .path-bar {
        width: 17.5rem;
        position: absolute;
        height: 100vh;
        background-color: #6a45ff;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }

    .explain-subsection {
        display: flex;
        flex-direction: row;
        gap: 10rem;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        width: 100%;

        .explain-img {
            max-width: 45%;
            max-height: 50%;
            overflow: hidden;
            float: left;
            // width: 75%;
        }

        .explain-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            float: right;
            font-size: 0.8rem;
            width: 25%;

            .title-underline {
                margin: 1rem 0 1rem 0;
                max-width: 100%;

                p {
                    font-size: 1.5rem;
                    font-weight: 500;
                    letter-spacing: $desc-letter-spacing;
                }

                .underline-bar {
                    width: 20rem;
                    height: 0.4rem;
                    background-color: #6a45ff;
                }
            }

            .click-me {
                margin-top: 2rem;
                display: flex;
                flex-direction: row;
                gap: 1rem;
                font-size: 0.7rem;
                font-weight: 500;
                letter-spacing: $desc-letter-spacing;
            }
        }
    }
}

.contact-us {
    top: 300vh;
    width: 100%;
    position: absolute;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    margin-top: 10rem;
    margin-bottom: 0;
    padding-bottom: 0;

    .company-farewell {
        width: 100%;
        height: 60%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        .square-container {
            position: relative;
            width: 7rem;
            /* Adjust the width and height to make it the desired size */
            height: 7rem;
            animation: logoAnimation 6s infinite;

            .triangle {
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
            }

            .top-left {
                border-width: 3.5rem;
                border-color: #8bff54 transparent transparent transparent;
                top: 0;
                left: 0;
            }

            .top-right {
                border-width: 3.5rem;
                border-color: transparent transparent transparent #6587ff;
                top: 0;
                right: 0;
            }

            .bottom-left {
                border-width: 3.5rem;
                border-color: transparent transparent #ff5252 transparent;
                bottom: 0;
                left: 0;
            }

            .bottom-right {
                border-width: 3.5rem;
                border-color: transparent transparent transparent #e9ff60;
                right: 0;
                bottom: 0;
                transform: rotate(180deg);
            }

            @keyframes logoAnimation {

                0%,
                100% {
                    transform: rotate(360deg) scale(1);
                }

                25% {
                    transform: rotate(0deg) scale(1);
                }

                50% {
                    transform: rotate(0deg) scale(1.5);
                }

                75% {
                    transform: rotate(0deg) scale(1);
                }
            }
        }
    }

    .company-footer {
        width: 100%;
        height: 40%;
        background-color: #5d6273;
        padding-bottom: 0rem;
        margin-bottom: 0rem;
        bottom: 0;

        .company-details {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            .pages {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 10rem;
                margin: 3rem 0 3rem 0;
                color: white;
                letter-spacing: $desc-letter-spacing;
                font-size: 0.7rem;
                font-weight: 500;
            }

            .social-divider {
                background-color: white;
                height: 0.25rem;
                width: 60rem;
            }

            .social-media {
                margin-top: 1rem;
                display: flex;
                flex-direction: row;
                gap: 5rem;
                margin-bottom: 0;
            }

            .copyright {
                margin: 2rem 0 2rem 0;
                color: white;
                font-weight: 300;
                font-size: 0.7rem;
            }
        }
    }
}

@media (max-width: 48rem) {
    .intro {
        justify-content: center;

        .logo {
            img {
                max-width: 6rem;
            }

            .text {
                font-size: 3rem;
            }
        }

        .about {
            margin-top: 5rem;
        }

        .subtitle {
            text-align: center;
            background-color: transparent;
            font-weight: 500;

            p {
                font-weight: 600;
            }
        }

        .description {
            margin-top: 0.5rem;
            max-width: 75%;

            p {
                font-size: 0.7rem;
                font-weight: 300;
            }
        }
    }

    .services {
        height: 100%;
        padding-bottom: -2rem;
        z-index: 0;

        .heading {
            margin: 0 0 2rem 0;

            h1 {
                color: #6a45ff;
            }

            p {
                color: black;
            }
        }

        .path-bar {
            background-color: #6a45ff3d;
            width: 2.5rem;
            height: 200vh;
            padding-bottom: 0%;
            z-index: -1;
        }

        .details {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .image-example {
            padding: 2.5rem, 2rem, 2.5rem, 2rem;
            max-width: 70%;
            max-height: 20%;
            overflow: hidden;

            .web-enum {
                display: none;
            }
        }

        h3 {
            font-size: 2rem;
        }
    }

    .see-more {
        position: absolute;
        top: 150rem;
        height: 100%;
        display: flex;
        justify-content: center;
        padding-top: 0%;
        z-index: 1;

        .path-bar {
            background-color: #6a45ff3d;
            width: 2.5rem;
            height: 100vh;
        }

        .explain-subsection {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0;

            .explain-img {
                width: 80%;
                height: 100%;
                float: none;
                // max-width: 100%;
            }

            .explain-text {
                float: none;
                width: 100%;
                box-sizing: border-box;
                padding-left: 1rem;
                font-size: 0.7rem;

                .click-me {
                    font-size: 0.9rem;
                    font-weight: 500;
                }

                .explain-details {
                    width: 75%;
                }
            }

            .title-underline {
                .title-text {
                    margin-left: 1rem;
                    font-size: 1.5rem;
                    font-weight: 500;
                    letter-spacing: $desc-letter-spacing;
                }

                .underline-bar {
                    width: 20rem;
                    height: 0.4rem;
                    background-color: #6a45ff;
                    margin-bottom: 2rem;
                }
            }
        }
    }

    .contact-us {
        padding-top: 10rem;
        margin-top: 30rem;
        max-height: 80vh;
        z-index: 2;

        .company-farewell {
            height: 35%;
        }

        .company-footer {
            height: 65%;
            display: flex;
            align-items: center;

            .company-details {
                .pages {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    gap: 0;
                }

                .social-divider {
                    background-color: white;
                    height: 0.1rem;
                    width: 80%;
                }

                .social-media {
                    margin-top: 0.5rem;
                    padding: 0 1rem 0 1rem;
                    gap: 1.5rem;
                    color: white;
                }
            }
        }
    }
}

html {
    font-size: $base-font-size;
}

body {
    font-size: 1rem;
}